
	<section class="u-py-100 u-h-90vh u-flex-center" style="background:url(assets/bg-pricing.jpg) no-repeat fixed; background-size:cover; background-position: top center;">
		<div class="container">
			<div style="text-align: center;">
				<div class="logo-default_padding"> <%=image_tag("RT_Logo_White.png")%></div>
				<div class="thank_img"> <%=image_tag("thank_img.png")%></div>
				<div class="paragraph_text"></div>
				<p class="paragraph_text">Your information has been successfully</br>
					submitted! You are one step closer to getting</br>
					your FREE demo of ReviewTrunk!</p>
				<p class="paragraph_text">We’ve sent an e-mail to you to verify your</br>
					e-mail address. Once you have verified your</br>
					e-mail address, we will e-mail you your unique</br>
					code which can then be pasted into the HTML</br>
					or CSS code on your website!
				</p>
				<p class="paragraph_text" style="font-weight: bold;">
					Yep, it’s that simple!	
				</p>
				<div class="thank_img"> <%=image_tag("need_img.png")%></div>	
				<p class="paragraph_text">
					Dont't worry, we've got you!
				</p>
				<p class="paragraph_text">
					For additional information on how to add yours</br>
					ReviewTrunk demo to your site, please click <a href="#">here</a>.
				</p>
			</div>
			
		</div>
    </section>