<div class="u-py-100 u-h-90vh u-flex-center" style="background:url(assets/priva_img.jpg); background-size:cover; background-position: top center">
	<div class="container">
		<div class="bg_opacity_privacy">
			<div class="welcome_text"> <%=image_tag("welcome_img.png")%></div>
			<div class="logo-default_padding"> <%=image_tag("new_logo-inverse.png")%></div>
			<div class="privacy_title">Privacy Policy // Terms & Conditions</div>
			<div class="privacy_text_wrapper">
                <p class= "privacy_text_area">
    				This is Photoshop's version of Lorem Ipsum. Proin gravida
    				nibh vel velit auctor aliquet. Aenean sollicitudin, lorem qui
    				bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
    				nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit
    				amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a
    				odio tincidunt auctor a ornare odio. Sed non mauris vitae erat
    				consequat auctor eu in elit. Class aptent taciti sociosqu ad
    				litora torquent per conubia nostra, per inceptos himenaeos.
    				Mauris in erat justo. Nullam ac urna eu felis dapibus
    				condimentum sit amet a augue. Sed non neque elit. Sed ut
    				imperdiet nisi. Proin condimentum fermentum nunc. Etiam
    				pharetra, erat sed fermentum feugiat, velit mauris egestas
    				quam, ut aliquam massa nisl quis neque. Suspendisse in orci
    				enim.<br />
    				This is Photoshop's version of Lorem Ipsum. Proin gravida
    				nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
    				bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
    				nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit
    				amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a
    				odio tincidunt auctor a ornare odio. Sed non mauris vitae
    				erat consequat auctor eu in elit. Class aptent taciti
    				sociosqu ad litora torquent per conubia eu felis dapibus
                </p>
            </div>
		</div>
	</div>
</div>