<div class="u-py-100 u-h-90vh u-flex-center">
	<div class="container">
		<div class="bg_opacity_privacy">
			<div class="welcome_text"> <%=image_tag("welcome_img.png")%></div>
			<div class="logo-default_padding"> <%=image_tag("new_logo-inverse.png")%></div>
			<div class="privacy_title">TERMS AND CONDITIONS OF WWW.REVIEWTRUNK.COM</div>
			<div class="privacy_text_wrapper">
                    <P>
                        Welcome to our website. This site is maintained as a service to our customers. By using this site, you agree to comply with and be bound by the following terms and conditions of use. Please review these terms and conditions carefully. If you do not agree to these terms and conditions, you should not use this site
                    </P>
                    <div class="privacy_text_area">
                            <strong>1. Agreement.</strong> This Agreement, hereinafter "Agreement”, specifies the terms and conditions for access to and use of ReviewTrunk.com, hereinafter the "Site", and describes the terms and conditions applicable to your access of and use of the Site. This Agreement may be modified at any time by ReviewTrunk.com upon posting of the modified agreement. Any such modifications shall be effective immediately. You can view the most recent version of these terms at any time at www. ReviewTrunk.com/termsandconditions. Each use by you shall constitute and be deemed your unconditional acceptance of this Agreement.
                    </div>
                    <div class="privacy_text_area">
                            <strong>2. Privacy.</strong>
                             Your visit to our site is also governed by our Privacy Policy. Please review our Privacy Policy at www. ReviewTrunk.com/privacypolicy.
                    </div>
                    <div class="privacy_text_area">
                            <strong>3. Content.</strong>
                               You acknowledge and agree that:
                                </br>
                                a. All content submitted by you to ReviewTrunk.com for duplication, production, reproduction, or replication whether publicly posted or privately transmitted, is your sole responsibility.  ReviewTrunk.com is not in any way liable for the content you submit or for its duplication, production, reproduction, or replication.
                                </br>
                                b. ReviewTrunk.com does not control the content originating from you, and ReviewTrunk.com does not guarantee the accuracy, integrity or quality of such content. 
                                </br>
                                c. You are legally authorized to submit such content for duplication, production,       reproduction, or replication, and, by doing so, you warrant that you are not infringing on another person or entity’s applicable copyright, patent, trademark, or proprietary rights.
                    </div>
                     <div class="privacy_text_area">
                            <strong>4. Ownership.</strong>
                                 This site is and shall continue to be the property of ReviewTrunk.com or its suppliers and is protected under applicable copyright, patent, trademark, and other proprietary rights. Any copying, redistribution, use or publication by you of any part of this site is prohibited, except as expressly permitted in this Agreement. Under no circumstances will you acquire any ownership rights or other interest in the Site by or through your use of the Site. 
                    </div>
                     <div class="privacy_text_area">
                            <strong>5. Intended Audience.</strong>
                                  This website is intended for adults only. This website is not intended for any children under the age of 13.
                    </div>
                    <div class="privacy_text_area">
                            <strong> 6. Site Use.</strong>
                              ReviewTrunk.com grants you a limited, revocable, nonexclusive license to use this site solely for your own personal use and not for republication, distribution, assignment, sublicense, sale, preparation of derivative works, or other use. You agree not to copy the site, reverse engineer or break into the site, or use materials, products or services in violation of any law. The use of this website is at the discretion 
                              of ReviewTrunk.com and ReviewTrunk.com may terminate your use of this website at any time.
                    </div>
                    <div class="privacy_text_area">
                            <strong>7. Compliance with Laws.</strong>
                             You agree to comply with all applicable laws regarding your use of the website. You further agree that information provided by you is truthful and accurate to the best of your knowledge.
                    </div>
                    <div class="privacy_text_area">
                            <strong>8. Indemnification. </strong>
                            You agree to indemnify, defend and hold ReviewTrunk.com and our partners, employees, and affiliates, harmless from any liability, loss, claim and expense, including reasonable attorney's fees, related to your violation of this Agreement or use of the Site.
                    </div>
                    <div class="privacy_text_area">
                            <strong>9. Disclaimer. </strong>
                                
 
                                THE INFORMATION ON THIS SITE IS PROVIDED ON AN "AS IS," "AS AVAILABLE" BASIS. YOU AGREE THAT USE OF THIS SITE IS AT YOUR SOLE RISK. REVIEWTRUNK.COM DISCLAIMS ALL WARRANTIES OF ANY KIND, INCLUDING BUT NOT LIMITED TO ANY EXPRESS WARRANTIES, STATUTORY WARRANTIES, AND ANY IMPLIED WARRANTIES OF: MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. TO THE EXTENT YOUR JURISDICTION DOES NOT ALLOW LIMITATIONS ON WARRANTIES, THIS LIMITATION MAY NOT APPLY TO YOU. YOUR SOLE AND EXCLUSIVE REMEDY RELATING TO YOUR USE OF THE SITE SHALL BE TO DISCONTINUE USING THE SITE.

                    </div>
                    <div class="privacy_text_area">
                            <strong>10. Limitation of Liability. </strong>
                                UNDER NO CIRCUMSTANCES WILL REVIEWTRUNK.COM BE LIABLE OR RESPONSIBLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL (INCLUDING DAMAGES FROM LOSS OF BUSINESS, LOST PROFITS, LITIGATION, OR THE LIKE), SPECIAL, EXEMPLARY, PUNITIVE, OR OTHER DAMAGES, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN ANY WAY RELATING TO THE SITE, YOUR SITE USE, OR THE CONTENT, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE SITE AND/OR CONTENT IS TO CEASE ALL OF YOUR SITE USE.
                                 
                                You may have additional rights under certain laws (including consumer laws) which do not allow the exclusion of implied warranties, or the exclusion or limitation of certain damages. If these laws apply to you, the exclusions or limitations in this Agreement that directly conflict with such laws may not apply to you.
                    </div>
                    <div class="privacy_text_area">
                            <strong>11. Use of Information. </strong>
                                 ReviewTrunk.com reserves the right, and you authorize us, to use and assign all information regarding site uses by you and all information provided by you in any manner consistent with our Privacy Policy.
                    </div>
                     <div class="privacy_text_area">
                            <strong>12. Copyrights and Copyright Agent. </strong>
                                  If you believe your work has been copied in a way that constitutes copyright infringement, please provide a notice containing all of the following information to ReviewTrunk.com:
                                  (a) An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;
 
                                    (b) A description of the copyrighted work that you claim has been infringed;
                                    </br>
                                     
                                    (c) A description of where the material that you claim is infringing is located on the Site;
                                    </br>
                                     
                                    (d) Your address, telephone number, and e-mail address;
                                    </br>
                                     
                                    (e) A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and
                                    </br>
                                     
                                    (f) A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.
                                    <g>
                                        By e-mail: Support@ReviewTrunk.com
                                    </g>
                    </div>
                    <div class="privacy_text_area">
                            <strong>13. Applicable Law.  </strong>
                                 You agree that the laws of the state of California, without regard to conflicts of laws provisions will govern these Terms and Condition of Use and any dispute that may arise between you and ReviewTrunk.com or its affiliates.

                                Any action or proceeding related to or arising out of any dispute between you and ReviewTrunk.com or its affiliates shall be brought and maintained exclusively in a court of competent jurisdiction in the County of San Bernardino, California.

                    </div>
                    <div class="privacy_text_area">
                            <strong>14. Severability. </strong>
                             If any provision of this Agreement shall be adjudged by any court of competent jurisdiction to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that this Agreement will otherwise remain in full force and effect.

                    </div>
                    <div class="privacy_text_area">
                            <strong>15. Termination. </strong>
                                 ReviewTrunk.com may terminate this Agreement at any time, with or without notice, for any reason.

                    </div>
                    <div class="privacy_text_area">
                            <strong>16. Contact Information. </strong>
                                 </br>
                                HOW TO CONTACT US:
                                </br>
                                ReviewTrunk.com
                                </br>
                                Support@ ReviewTrunk.com


                    </div>
                    <div class="privacy_title">PRIVACY POLICY OF WWW.REVIEWTRUNK.COM</div>
                     <P>
                        Welcome to our website. This site is maintained as a service to our customers. By using this site, you agree to comply with and be bound by the following terms and conditions of use. Please review these terms and conditions carefully. If you do not agree to these terms and conditions, you should not use this site
                    </P>
                      <div class="privacy_text_area">
                            A.  Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
                            </br>
                            B.  We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
                            </br>
                            C.  We will only retain personal information as long as necessary for the fulfillment of those purposes.
                            </br>
                            D.  We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
                            </br>
                            E.  Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
                            </br>
                            F.  We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
                            </br>
                            G.  We will make readily available to customers information about our policies and practices relating to the management of personal information.
                            </br>
                            H.  We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.


                    </div>
            </div>
		</div>
	</div>
</div>