.example.example1 {
  background: linear-gradient(#fff,#f2f6f9);
  box-shadow: 0 0 0 1px rgba(14,41,57,.12), 0 2px 5px rgba(14,41,57,.44), inset 0 -1px 2px rgba(14,41,57,.15);
  padding-bottom: 8px;
  width: 70%;
  padding: 30px 0 30px 0;
  margin: auto; 
}

.example.example1 * {
  font-family: Roboto, Open Sans, Segoe UI, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.example.example1 fieldset {
  margin: 0 15px 8px;
  padding: 0;
  border-style: none;
/*  background-color: #ffffff;*/
/*  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #96989d;*/
  border-radius: 4px;
}

.example.example1 .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}

.example.example1 .row + .row {
/*  border-top: 1px solid #819efc;*/
}
.example.example1 label {
    width: 21%;
    padding-top: 30px!important;
    min-width: 70px;
    padding: 11px 0;
    color: #a29e9e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.example.example1 input, .example.example1 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example1 input:-webkit-autofill {
  -webkit-text-fill-color: #495057;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example1 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example1 .StripeElement {

  width: 100%;
padding: 11px 15px 11px 2px;

border: 1px solid #9a9fa4;
box-shadow: 1px 2px 8px 2px #888888;
margin-top: 25px!important;
}

.example.example1 input,.example.example1 .StripeElement {
  padding: 11px 15px 11px 10px;
  color: #76767c;
  border: 1px solid #9a9fa4;
  padding: 9px 30px;
  border-radius: 4px;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
}
.example.example1 input::-webkit-input-placeholder {
  color: #ccc;
}

.example.example1 input::-moz-placeholder {
  color: #87bbfd;
}

.example.example1 input:-ms-input-placeholder {
  color: #87bbfd;
}

.example.example1 button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  margin:  auto;
  background: linear-gradient(#7dc5ee,#008cdd ,#30a2e4);
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #35abe7;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.example.example1 button:active {
  background-color: #000;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
}

.example.example1 .error svg .base {
  fill: #2ba7e6;
}

.example.example1 .error svg .glyph {
  fill: #fff;
}

.example.example1 .error .message {
  color: #c30d37;
  font-size: 20px;
}
.example.example1 .success .icon .border {
  stroke: #1fa2e5;
}
.example.example1 .success .icon .checkmark {
  stroke: #0899e1;
}
.example.example1 .success .title {
  color: #aaaeb2;
}
.example.example1 .success .message {
  color: #a29e9e;
}
.example.example1 .success .reset path {
  fill: #25a4e5;
}